:root {
  /* Paleta DT125 */
  --color-primary: #5E24C3;  /* morado */
  --color-white:   #FFFFFF;  /* blanco */
  --color-dark:    #111111;  /* negro azulado */
  --color-yellow:  #F5C400;  /* amarillo */
  --color-orange:  #F47B20;  /* naranja */
  /* Ejemplos de uso */
  --bs-body-color: var(--color-dark);    /* texto principal */
  --bs-body-bg: var(--color-white);      /* fondo página */
  --bs-primary: var(--color-primary);    /* <code>.btn-primary</code> background */
  --bs-success: var(--color-yellow);     /* usar para destacar información */
  --bs-warning: var(--color-orange);
  /* ... */
}